    <td><%= @company.name %></td>
    <td><%= @company.phone %></td>
    <td><%= @company.email %></td>
    <td><%= @company.address %></td>
    <td><%= @company.logo %></td>
    <td><%= link_to 'Edit', edit_admin_company_path(@company) %></td>

<%=image_tag @company.logo %>
