<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @company.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @company.email %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Logo:</b>
  <%= @company.logo %>
</p>

